In [ ]:
#IN THIS SHEET THERE ARE ALL THE TASK UPLOADED

#TASK1

In [1]:
#### Q1:- Write a program that will convert celsius value to fahrenheit."""
cel=int(input("enter the celcius"))
F = (cel * 9/5) + 32
F

enter the celcius 85

185.0

In [3]:
#Q2:- Take 2 numbers as input from the user.
#Write a program to swap the numbers without using any special python syntax."""
a=10
b=20
a=a+b
b=a-b
a=a-b
print("the value of a is:",a)
print("the value of b is:",b)

the value of a is: 20
the value of b is: 10

In [5]:
#Q3:Write a program to find the euclidean distance between two coordinates.
#Take both the coordinates from the user as input."""
#2 cordinates li thi but eucliden smj ni payaa 
#formula i m getting is difffrent and i m unable to implement it in this

In [ ]:
## Q4:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.
value=int(input("enter the Value Of Principal"))
interest=int(input("enter the Rate Of Interest"))
time=int(input("Enter the Time "))
Simple_interest=(value *interest  * time)/100
print("Interest amount is :",Simple_interest)
print("Net Payable",value+Simple_interest)

In [ ]:
# Q5:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.
#maths eq hogi pr pythoon m implimwnt smj ni a rha 
#maths m a rh h 
#sir n explain kiya but implement krn ni aya ki kaise implement kre isko pyhon m maths m ho jayeg 
#but python m ni hoga n mane soccha ki kaise kre kyuki sir karawayege

In [ ]:
#Q6:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user"
n=int(input("enter the number :"))
sum1=0
for i in range(1,n+1):
    sum1+=i**2
sum1

In [ ]:
#Q7=Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user."""

In [ ]:
#Given 2 fractions, find the sum of those 2 fractions.
#Take the numerator and denominator values of the fractions from the user."""
a_numerator=int(input("enter the numerator"))
a_denominator=int(input("enter the denominator"))
b_numerator=int(input("enter the numerator"))
b_denominator=int(input("enter the denominator"))
if a_denominator==b_denominator:
    c=a_numerator + b_numerator
    d=a_denominator +b_denominator
import numpy as np
a=1
a_den=2
b=1
b_den=3
lcm = np.lcm(a_den, b_den)
new_a_n=(lcm//a_den*a)
new_b_n=(lcm//b_den*b)
print(new_a_n+new_b_n,lcm)

In [ ]:
#Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.
height=int(input("enter the height:"))
width=int(input("enter the width:"))
breadth=int(input("enter the breath :"))
#dimention of milk tank is 
h=3
r=1
volume_tank=height*width*breadth
volume_glass=3.14*(r**2)+h
print(volume_tank/volume_glass)

#SHEET1 OVER

SHEET 2 (TASK 2)

In [7]:
#`Problem1: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:
salary=int(input("enter the salary :"))
hra=10/100*salary
da=5/100*salary
pf=3/100*salary

if salary<=500000:
    tax=0
elif salary>500000 and salary<=1000000:
    tax=10/100*salary
elif salary>1000000 and salary<=2000000:
    tax=20/100*salary
else:
    tax=30/100*salary
in_hand=(salary-hra-da-pf-tax)
print(in_hand)

enter the salary : 50000

41000.0

In [9]:
#Problem2:Write a program that take a user input of three angles and will find out whether it can form a triangle or not.
angle1=int(input("enter the number:"))
angle2=int(input("enter the number:"))
angle3=int(input("enter the number:"))
triangle=(angle1+angle2+angle3)
if triangle==180:
    print("It can form Triangle ")
else:
    print("It can not form triiangle ")

enter the number: 85
enter the number: 45
enter the number: 52

It can not form triiangle

In [15]:
#Problem3`Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.
cost_price=int(input("enter the cost  price"))
selling_price=int(input("enter the selling price"))
if cost_price<selling_price:
    print("It's Profit ", selling_price-cost_price)
else:
    print("It's Loss")

enter the cost  price 8000
enter the selling price 5000

It's Loss

In [17]:
# `Problem 4`: Write a menu-driven program -
'''1. cm to ft
2. km to miles
3. USD to INR
4. exit'''
cm=int(input("enter the cm value:"))
ft= cm / 30.48
print("ft",ft)
#KM TO MILES:
km=int(input("enter the km"))
miles=km*0.621371
print(miles)
#USD TO INR
usd=int(input("enter the dollar"))
inr=usd*84
print("inr of dollar is :",inr)

enter the cm value: 85

ft 2.788713910761155

enter the km 52

32.311292

enter the dollar 45

inr of dollar is : 3780

In [21]:
### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.
n=int(input("enter the number:"))
x=0
y=1
z=0
while (z<=n):
    print(z)
    x=y
    y=z
    z=x+y

enter the number: 10

0
1
1
2
3
5
8

In [23]:
# `Problem 6` - Find the factorial of a given number.
n=int(input("enter the number:"))
fact1=1
for i in range(1,n+1):
    fact1*=i
fact1

enter the number: 500

1220136825991110068701238785423046926253574342803192842192413588385845373153881997605496447502203281863013616477148203584163378722078177200480785205159329285477907571939330603772960859086270429174547882424912726344305670173270769461062802310452644218878789465754777149863494367781037644274033827365397471386477878495438489595537537990423241061271326984327745715546309977202781014561081188373709531016356324432987029563896628911658974769572087926928871281780070265174507768410719624390394322536422605234945850129918571501248706961568141625359056693423813008856249246891564126775654481886506593847951775360894005745238940335798476363944905313062323749066445048824665075946735862074637925184200459369692981022263971952597190945217823331756934581508552332820762820023402626907898342451712006207714640979456116127629145951237229913340169552363850942885592018727433795173014586357570828355780158735432768888680120399882384702151467605445407663535984174430480128938313896881639487469658817504506926365338175055478128640000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [25]:
## `Problem 7` - Reverse a given integer number.
n=int(input("enter the number:"))
m=str(n)
for i in range(len(m)-1,-1,-1):
    print(m[i])

enter the number: 50

0
5

In [27]:
'''Problem8:Take a user input as integer N. Find out the sum from 1 to N. 
If any number if divisible by 5, then skip that number. 
And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.
'''
n=30
sum1=0
for i in range(1,n):
    if i%5!=0:
        sum1+=i
    if sum1>=300:
        break
print(sum1-i)

276

In [ ]:
# `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.
#ddd
sum1=0
count1=0
while True:
    n=int(input("enter the number:"))
    sum1+=n
    count1+=1
    avg=sum1/count1
    if n==0:
        break
print("Sum of the number is :",sum1)
print("Avg of the number is :",avg)

In [ ]:
'''`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included)
such that each digit of the number is an even number. 
The numbers obtained should be printed in a space-separated sequence on a single line.
'''
for i in range(10,30):
    flag=True
    a=i
    while a>0:
        a=a%10
        if a%2!=0:
            flag=False
            break
        a=a//10
    if flag==True:
        print(i)

In [33]:
'''`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!'''
import math
x1=int(input("enter the number:"))
y1=int(input("enter the number:"))
x2=int(input("enter the number:"))
y2=int(input("enter the number:"))
n=math.sqrt((x2-x1)**2) + ((y2-y1)**2)
print(n)

enter the number: 4500
enter the number: 500
enter the number: 20
enter the number: 20

234880.0

In [35]:
###`Problem 12`:Write a program to print whether a given number is a prime number or not
n=int(input("enter the number to check prime:"))
for i in range(2,n):
    if n%i==0:
        print("Not prime")
        break
else:
    print("Prime")

enter the number to check prime: 7

Prime

#TASK 2 OVERR

#TASK3

In [37]:
#Q1
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end="")
    print()

54321
4321
321
21
1

In [ ]:
### `Problem 2`: Print the following pattern.
''bash
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
'''

In [39]:
### `Problem 3`:Write a program to pring the following pattern
for i in range(1,10,2):
    for j in range(i):
        print("*",end="")
    print()

*
***
*****
*******
*********

In [ ]:
'''Problem 4`:Write a program to print the following pattern

1

2 1

3 2 1

4 3 2 1

5 4 3 2 1'''

In [ ]:
'''Problem5:Write a Python Program to Find the Sum of the Series till the nth term:<br>
1 + x^2/2 + x^3/3 + â€¦ x^n/n<br>
n will be provided by the user'''

In [ ]:
# `Problem 6`: The natural logarithm can be approximated by the following series.

In [ ]:
# `Problem 7` - Find the sum of the series upto n terms.
'''Write a program to calculate the sum of series up to n term.
For example, if n =5 
the series will become 2 + 22 + 222 + 2222 + 22222 = 24690.
Take the user input and then calculate. And the output style should match which is given in the example.'''

In [ ]:
#`Problem 8`: Write a program to print all the unique combinations of 1,2,3 and 4

In [ ]:
#Problem9 :Write a program that will take a decimal number as input and prints out the binary equivalent of the number

In [ ]:
#Problem10:Write a program that will take 2 numbers as input and prints the LCM and HCF of those 2 numbers

In [ ]:
# **Problem 11:**Create Short Form from initial character
'''Given a string create short form ofthe string from Initial character. Short form should be capitalised.

In [ ]:
#`Problem 12`: Append second string in the middle of first string
'''`Input:`
campusx
data

`Output`:
camdatapusx'''
s="campusx"
b="data"
print(s[:len(s)//2])+"data" #+ s[:len(s)//2]

In [ ]:
# Problem 13:Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.
'''Given:

`str1 = PyNaTive`

Expected Output:

`yaivePNT`'''
s="PyNaTive"

In [ ]:
# `Problem 14:`Take a alphanumeric string input and print the sum and average of the digits that appear in the string, ignoring all other characters.Input:

'''`hel123O4every093`

Output:

```
Sum: 22
Avg: 2.75'''
s="hel123O4every093"
sum1=0
count1=0
avg=0
for i in s:
    if i.isnumeric():
        sum1+=int(i)
        count1+=1
        avg=sum1/count1
        
print("sum is :",sum1)
print("avg of no is:",avg)

In [ ]:
# `Problem 15:` Removal of all characters from a string except integers
'''Given:`

```
str1 = 'I am 25 years and 10 months old'
```
`Expected Output:`
```
2510
'''
s= "I am 25 years and 10 months old"
for i in s:
    if i.isnumeric():
        print(i,end="")

In [ ]:
# `Problem 16`: Check whether the string is Symmetrical.
'''Example 1:**
`Input==khokho
`Output`== The entered string is symmetrical'''


s="khokho"
half = len(s) // 2
if s[:half] == s[half:] if len(s) % 2 == 0 else s[:half] == s[half+1:]:
    print("The entered string is symmetrical")
else:
    print("not")

In [ ]:
## `Problem 17`: Reverse words in a given String
n="my name is krrish".split()
for i in range(len(n)-1,-1,-1):
    print(n[i],end=" ")

In [ ]:
#Problem 18: Find uncommon words from two Strings.
a="apple","banana","mango".split()
v="banana","fruits","mango".split()
s=[]
for i in a:
    if i not in v:
        s.append(i)
for i in v:
    if i not in a:
        s.append(i)
s

In [ ]:
# `Problem 19`: Word location in String.
sentence="We can learn data science through campusx mentorship program.".split()
word="campusx"
for i in sentence:
    if word in i:
        print(sentence.index(i)+1)

In [ ]:
#Problem20:Write a program that can remove all the duplicate characters from a string. User will provide the input.
a=input("enter the input")
b=set(a)
print(str(b))

In [ ]:
#TASK 3 COMPLETED

#TASK4

In [41]:

#`Problem 1:` Combine two lists index-wise(columns wise)

'''Write a program to add two lists index-wise.
Create a new list that contains the 0th index item from both the list, then the 1st index item, 
and so on till the last element. any leftover items will get added at the end of the new list.'''
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
l=[]
for i in range(len(list1)):
    l.append(list1[i])
    l.append(list2[i])
l

['M', 'y', 'na', 'me', 'i', 's', 'Kh', 'an']

In [43]:
l2=[800,500,[700,35000]]
l2.insert(4,2000)
l2

[800, 500, [700, 35000], 2000]

In [45]:
# `Problem 2:` Add new item to list after a specified item
'''Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]'''
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
for i in list1:
    if (type(i))==list:
       # print(i)
        for j in i:
            if type(j)==list:
                j.insert(2,7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [47]:
''' #`Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -  
``` 
'''
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
l=[]
for i in range(len(candy_list)):
   print(candy_list[i],"=",no_of_items[i])

Jelly Belly = 10
Kit Kat = 20
Double Bubble = 34
Milky Way = 74
Three Musketeers = 32

In [49]:
'''#`Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]'''
list1=[1,2,3,4,5,6]
sum1=0
for i in range(len(list1)):
    sum1+=list1[i]
    print(sum1)

1
3
6
10
15
21

In [51]:
'''#`Problem 6:` Find list of common unique items from two list. 
and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]'''
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
l=[]
for i in num2:
    if i in num1:
        l.append(i)
sorted(l)

[34, 67, 89]

In [53]:
'''#`Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

`Input:`
```
['1ac21', '23fg', '456', '098d','1','kls']
```

`Output:`
```
['456', '23fg', '1ac21', '1', 'kls', '098d']'''

"#`Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.\n\n`Input:`\n```\n['1ac21', '23fg', '456', '098d','1','kls']\n```\n\n`Output:`\n```\n['456', '23fg', '1ac21', '1', 'kls', '098d']"

In [55]:
'''Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['CampusX is a channel', 'for data-science', 'aspirants.']
```

Output:
```bash
['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']'''
a=['CampusX is a channel', 'for data-science', 'aspirants.']
l=[]
for i in a:
    l.extend(i.split())
l

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

In [57]:
'''# `Problem 9:` Convert Character Matrix to single String using string comprehension.

**Example 1:**

Input:
```bash
[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
```

Output:
```bash
campux is best channel
'''
a=[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
s=" "
for i in a:
    for j in i:
        s+=j
print(s)

 campuxisbestchannel

In [59]:
#`Problem 10:` Add Space between Potential Words.
a=['campusxIs', 'bestFor', 'dataScientist']
for i in a:
    for j in i:
        print(j)

c
a
m
p
u
s
x
I
s
b
e
s
t
F
o
r
d
a
t
a
S
c
i
e
n
t
i
s
t

In [61]:
#Write a program that can perform union operation on 2 lists

a=[1,2,3,4,5,1]
b=[2,3,5,7,8]
c=a+b
print(set(c))

{1, 2, 3, 4, 5, 7, 8}

In [63]:
# `Problem 12:` Write a program that can find the max number of each row of a matrix
a=[[1,2,3],[4,5,6],[7,8,9]]
for i in a:
    print(max(i))

3
6
9

In [65]:
'''problem 13: Write a list comprehension to print the following matrix
[[0, 1, 2], [3, 4, 5], [6, 7, 8]]'''

In [67]:
a="PyNaTive"
lower=""
upper=""
for i in a:
    if i.islower():
        lower+=i
    elif i.isupper():
        upper+=i
        
print(lower+upper)

yaivePNT

In [ ]:
a="Data science mentorship program".split()
for i in a :
    print(i[0].upper(),end="")

In [ ]:
''' Problem 14: Write a list comprehension that can transpose a given
matrix
matrix = [ [1,2,3], [4,5,6], [7,8,9]]
[1, 4, 7] [2, 5, 8] [3, 6, 9]'''

In [ ]:
'''Problem 15: Write a list comprehension that can flatten a nested list
Input matrix = [ [1,2,3], [4,5,6], [7,8,9]]
Output: [1, 2, 3, 4, 5, 6, 7, 8, 9]'''

In [ ]:
#task4 completed

#TASK5

In [70]:
'''#Q-1: Rectangle Class
1. Write a Rectangle class in Python language, allowing you to build a rectangle with
length and width attributes.
2. Create a Perimeter() method to calculate the perimeter of the rectangle and a Area()
method to calculate the area of the rectangle.
3. Create a method display() that display the length, width, perimeter and area of an
object created using an instantiation on rectangle class.
Eg. After making above classes and methods, on executing below code:-'''



class rectangle :
    def __init__ (self,length,width):
        self.length=length
        self.width=width
        #self.display=display
    def perimeter(self):
        p = 2*(self.length + self . width)
        return 'perimeter is: ' ,p
    def area(self):
        a= self.length + self.width
        return "Area is : ",a
        
    def display(self):
        print ("Length is :",self.length)
        print ("Width is :",self.width)
        print ("Perimeter is :",2*(self.length + self . width))
        print ("Area is :",self.length * self.width)

In [72]:
r1=rectangle(3,4)

#r1.perimeter()

#r1.area()

r1.display()

Length is : 3
Width is : 4
Perimeter is : 14
Area is : 12

In [240]:
#q2 bank classs
class BankAccount:
    def __init__ (self,accountnumber,name,balance):
        self.accountnumber=accountnumber
        self.name=name
        self.balance=balance
        
    def deposit(self,d):
        ub=(self.balance + d)
        print("Deposit is :",d)
        print("Current Bal is :",ub)
        
    def withdrawal(self,w):
        if self.balance<w:
            print("Insufficient Balance")
        else:
            print("Transaction Successfull ")
            print("Your Balance is:" , self.balance-w)
    def bankfee(self,bf):

In [242]:
B1=BankAccount(123,"krrish",10000)

In [244]:
B1.deposit(2000)

Deposit is : 2000
Current Bal is : 12000

In [253]:
B1.withdrawal(1000)

Transaction Successfull
Your Balance is: 9000

In [1]:
class bank:
    def __init__(self):
        self.pin=""
        self.balance=0
        self.menu()

    def menu(self): 
            user_input=input ('''
        1. Press 1 for pin genrate 
        2. Press 2 for withdrwals''')
            if user_input=="1":
               self.create_pin()
            if user_input=="2":
               self.withdrawal()
            
           
             
    def create_pin(self):
        new_pin=input("Enter Your Pin")
        new_balance=int(input("Enter your NEw Bal")) 
        self.pin=new_pin
        self.balance=new_balance
        self.menu()
    def withdrawal(self):
        old_pin=input("Enter your old pin") 
        if old_pin==self.pin:
            amoutn=int(input("Enter Amout to withdrwal"))
            if self.balance>amoutn:
                print(self.balance-amoutn) 
            else:
                print("no")
        else:
            print("wrong_pin")
        self.menu()

In [3]:
x1=bank()

        1. Press 1 for pin genrate
        2. Press 2 for withdrwals 1
Enter Your Pin 2199
Enter your NEw Bal 5000

        1. Press 1 for pin genrate
        2. Press 2 for withdrwals 2
Enter your old pin 2199
Enter Amout to withdrwal 1000

4000

        1. Press 1 for pin genrate
        2. Press 2 for withdrwals 9

In [ ]:
x1.withdrawal()

Enter your old pin 2199
Enter Amout to withdrwal 4000

1000

        1. Press 1 for pin genrate
        2. Press 2 for withdrwals 2
Enter your old pin 500

wrong_pin

        1. Press 1 for pin genrate
        2. Press 2 for withdrwals 2
Enter your old pin 2199
Enter Amout to withdrwal 500

4500

In [ ]:
8